<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>01</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>02</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>03</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>04</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>05</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>06</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>07</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>08</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>09</string>
		<key>miaoshu</key>
		<string>吃饭</string>
	</dict>
</array>
</plist>
