<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>options</key>
		<array>
			<string>试</string>
			<string>的</string>
			<string>二</string>
			<string>地</string>
			<string>多</string>
			<string>的</string>
			<string>发</string>
			<string>如</string>
			<string>乳</string>
			<string>让</string>
			<string>空</string>
			<string>建</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>我</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
		<key>answer</key>
		<string>汤唯</string>
		<key>icon</key>
		<string>tangwei</string>
		<key>title</key>
		<string>我的女神</string>
	</dict>
	<dict>
		<key>answer</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>fanbingbing</string>
		<key>title</key>
		<string>金宝的最爱</string>
		<key>options</key>
		<array>
			<string>试</string>
			<string>范</string>
			<string>二</string>
			<string>地</string>
			<string>多</string>
			<string>的</string>
			<string>发</string>
			<string>冰</string>
			<string>乳</string>
			<string>让</string>
			<string>空</string>
			<string>建</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>冰</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>仓井优</string>
		<key>icon</key>
		<string>cangjinyou</string>
		<key>title</key>
		<string>花与爱丽丝</string>
		<key>options</key>
		<array>
			<string>试</string>
			<string>的</string>
			<string>二</string>
			<string>地</string>
			<string>多</string>
			<string>仓</string>
			<string>发</string>
			<string>如</string>
			<string>乳</string>
			<string>让</string>
			<string>井</string>
			<string>建</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>优</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杨颖</string>
		<key>icon</key>
		<string>baby</string>
		<key>title</key>
		<string>小明的最爱</string>
		<key>options</key>
		<array>
			<string>试</string>
			<string>的</string>
			<string>二</string>
			<string>杨</string>
			<string>多</string>
			<string>的</string>
			<string>发</string>
			<string>如</string>
			<string>乳</string>
			<string>让</string>
			<string>空</string>
			<string>颖</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>我</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>仓老师</string>
		<key>icon</key>
		<string>teacher</string>
		<key>title</key>
		<string>多少个不眠夜我</string>
		<key>options</key>
		<array>
			<string>试</string>
			<string>的</string>
			<string>仓</string>
			<string>地</string>
			<string>多</string>
			<string>的</string>
			<string>发</string>
			<string>如</string>
			<string>老</string>
			<string>让</string>
			<string>空</string>
			<string>师</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>我</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>柳岩</string>
		<key>icon</key>
		<string>liuyan</string>
		<key>title</key>
		<string>很凶的女人</string>
		<key>options</key>
		<array>
			<string>试</string>
			<string>的</string>
			<string>柳</string>
			<string>地</string>
			<string>多</string>
			<string>的</string>
			<string>发</string>
			<string>如</string>
			<string>岩</string>
			<string>让</string>
			<string>空</string>
			<string>建</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>我</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>蒋欣</string>
		<key>icon</key>
		<string>jiangxin</string>
		<key>title</key>
		<string>好漂亮</string>
		<key>options</key>
		<array>
			<string>试</string>
			<string>的</string>
			<string>二</string>
			<string>蒋</string>
			<string>多</string>
			<string>的</string>
			<string>发</string>
			<string>如</string>
			<string>乳</string>
			<string>让</string>
			<string>欣</string>
			<string>建</string>
			<string>汤</string>
			<string>哦</string>
			<string>吗</string>
			<string>我</string>
			<string>方</string>
			<string>唯</string>
			<string>额</string>
		</array>
	</dict>
</array>
</plist>
